
<ion-header>
  <ion-toolbar>
    <ion-title>Recupera tu contraseña</ion-title>
    <ion-buttons slot="start">
      <ion-back-button default-href="inicio"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<body>
  <ion-content class="ion-padding" class="fondoUniversal">
    <form>
      <br><br><br>
      <ion-card>
        <ion-label position="floating">Correo Electrónico</ion-label>
        <ion-input type="email" [(ngModel)]="email" required [ngModelOptions]="{standalone: true}"></ion-input>
      </ion-card>
  
      
  
      <ion-button expand="full" (click)="recuperarContrasena()">Aceptar</ion-button>
    </form>

    <br>
    <br>
    <div class="img-container">
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRqACr7pV6U4sF78QsZ4IH_DzjOpYJXnmjdYg&usqp=CAU">
    </div>
  </ion-content>

  
</body>
