ion-card {
  --border-radius: 0px;
  --box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-top: 5px;

  ion-item {
    --border-radius: 0;
    --background: transparent;
    --color: #333;
    --padding-start: 10px;
    --padding-end: 10px;
    --min-height: 50px;

    ion-icon {
      --color: #333;
      --size: 24px;
    }
  }
}

ion-content {
  ion-list {
    ion-card {
      margin-bottom: 8px; // Ajusta el espacio entre tarjetas
    }
  }
}


.card-disponible {
  background-color: lightgreen; // o el color verde que prefieras
}

.card-no-disponible {
  background-color: lightcoral; // o el color rojo que prefieras
}

