<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Reserva un viaje</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-card *ngFor="let viaje of viajes | async" (click)="abrirModal(viaje)">
      <ion-card-header>
        <ion-card-title>{{ viaje.destino }}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        Hora de Salida: {{ viaje.horaSalida }}<br>
        Pasajeros Máximos: {{ viaje.pasajerosMaximos }}<br>
        Tarifa: {{ viaje.tarifa }}<br>
        Hora: {{ viaje.horaSalida  }}<br>
        Patente: {{ viaje.patente }}<br>
        Conductor: {{ viaje.conductor }}
      </ion-card-content>
    </ion-card>
  </ion-list>
</ion-content>
